@import "tailwindcss";

@theme {

  --font-sans: "Nunito Sans", sans-serif;
  --color-blue: #2178C4;
  --color-skyblue: #E6ECF3;
  --color-green: #048667;
  --color-teal: #088888;
  --color-gray: #E6ECF3;
  --color-darkgray: #8E8E9B;

}

html,
body {
  @apply m-0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
